  <% if f.object.new_record? %>
    <div class="fields">
      <%= f.file_field :image %>
    </div>
  <% else %>
    <span class="fields" style="display: inline-block; width: 300px; height: 400px;">
      <%= link_to(image_tag(f.object.image.url(:thumbnail)), "javascript:void(0)", "data-url" => f.object.image.url) %>
      <%= link_to_remove_fields("remove", f) %>
    </span>
  <% end %>

