  <% if f.object.new_record? %>
    <span class="fields">
      <%= f.file_field :image %>
    </span>
  <% else %>
    <span class="fields" style="display: inline-block; width: 300px; height: 400px;">
      <a href="<%= f.object.image.url %>" class="thumb">
        <img src="<%= f.object.image.url(:thumbnail) %>" />
      </a>
      <br />
      <%= link_to_remove_fields("Remove Image", f) %>
    </span>
  <% end %>

