body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}

a { color: #000; }
a:hover img { color: 0; background: none; }

div.field, div.actions {
  margin-bottom: 10px;
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

#wrapper {
  width: 1024px;
  margin: 0 auto;
}

#content {
  padding: 0px 10px;
}

#header {
  text-align: center;
}

h1 {
  font-size: 3.5em;
}

/*
 * Generic Form
 */
  form {
    padding-top: 2em;
}

div.field {
  padding-top: 10px;
}

span.field {
  display: inline-block;
  padding: 5px 10px;
}

form label {
  font-weight: bold;
}

input, textarea {
  border: 1px solid #000000;
}

textarea {
  width: 100%;
}

.fieldinfo {
  display: inline-block;
  font-size: 12px;
  width: 500px;
}

span.spacer {
  display: inline-block;
  width: 200px;
}

/*
 * Table Info
 */

.postedBlue {
    background-color: #AAAAFF !important;
    text-align: center;
}

.postedRed {
  background-color: #FFAAAA !important;
}

.postedGreen {
  background-color: #AAFFAA !important;
}


/*
 * Dealer Info
 */
#citystatezip label, #citystatezip input {
    width: 326px;
    display: inline-block;
}

#dealer_info_address {
  width: 100%;
}

.phone div.number {
  display: inline-block;
  font-size: 24px;
}

.phone input {
  width: 2em;
}

.phone input.four {
  width: 3em;
}

.phone div.fieldinfo {
  width: 620px;
}

.time label {
  display: inline-block;
  width: 200px;
}

/*
 * Image Upload
 */
span.image_upload {
  display: inline-block;
  border: 1px solid #DDDDDD;
  vertical-align: top;
}

a.add_btn {
  text-decoration: none;
  font-weight: bold;
  line-height: 29px;
  margin-bottom: 14px;
  width: 191px;
}

a.rm_btn {
  text-decoration: none;
  font-weight: bold;
  line-height: 29px;
  margin-bottom: 14px;
  width: 191px;
  position: relative;
  bottom: 150px;
  left: 100px;
}


span.add {
  background: url(/images/add.png) no-repeat;
  text-indent: 35px;
  display: inline-block;
}

span.remove {
  background: url(/images/delete.png) no-repeat 0px;
  text-indent: 50px;
  display: inline-block;
}

span.remove:hover,  a.add_btn:hover, a.thumb {
  color: #000; background-color:#fff;
  text-decoration: none;
}

span.image {
  cursor: all-scroll;
  width: 700px;
  height: 300px;
}

a#sort-icon {
  position: relative;
  bottom: 150px;
  margin-right: 120px;
}

.sortable li {
  list-style: none;
}
