#wrapper {
  width: 1024px;
  margin: 0 auto;
}

#content {
  padding: 0px 10px;
}

#header {
	text-align: center;
}

h1 {
  font-size: 3.5em;
}

/*
 * Generic Form
 */
form {
  padding-top: 2em;
}

div.field {
  padding-top: 10px;
}

span.field {
	display: inline-block;
	padding: 5px 10px;
}

form label {
  font-weight: bold;
}

input, textarea {
  border: 1px solid #000000;
}

textarea {
  width: 100%;
}

.fieldinfo {
  display: inline-block;
  font-size: 12px;
  width: 500px;
}

span.spacer {
  display: inline-block;
  width: 200px;
}

/*
 * Table Info
 */

.postedRed {
	background-color: #FFAAAA;
}

.postedGreen {
	background-color: #AAFFAA;
}

/*
 * Dealer Info
 */
#citystatezip label, #citystatezip input {
  width: 326px;
  display: inline-block;
}

#dealer_info_address {
  width: 100%;
}

.phone div.number {
  display: inline-block;
  font-size: 24px;
}

.phone input {
  width: 2em;
}

.phone input.four {
  width: 3em;
}

.phone div.fieldinfo {
  width: 620px;
}

.time label {
  display: inline-block;
  width: 200px;
}

/*
 * Image Upload
 */
div.image_upload {
	display: inline-block;
	border: 1px solid #DDDDDD;
	height: 100px;
}
