<h1>CustomerInfos#new</h1>
<% url = customer_infos_path %>
<% method = :post %>
<% if @current_user.craigslist_type == 'ctd' %>
  <%= render 'dealer_info_form', {:url => url, :method => method} %>
<% else %>
  <%= render 'form', {:url => url, :method => method} %>
<% end %>
